.privacy-root {
    background-color: hsla( 0,0%,6.2745098039215685% ,1);
}

.privacy-content-wrapper {
    padding-top: 3.3vmax;
    /* padding-bottom: 3.3vmax; */
    justify-content: center;
    padding-right: 3.3vmax;
    padding-left: 3.3vmax;
    margin: 0 auto;
    display: flex;
    box-sizing: content-box;
    position: relative;
    color: #fff;
}

.privacy-sqs-layout {
    color: #fff;
    font-size: calc((1.1 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
    float: none;
    width: auto;
    word-wrap: break-word;
    width: 100%;
}

.privacy-sqs-layout h2 {
    white-space: pre-wrap;
    border-bottom: 3px solid #f26a09!important;
    padding-bottom: 3px !important;
    display: block !important;
    text-align: center !important;
    font-size: 1.6em !important;
    line-height: calc(1.4em * (1 + (1 - 2)/25));
    text-transform: uppercase;
    font-weight: 400;
}

.privacy-html-content-wrapper {
    /* padding-top: 3.3vmax; */
    /* padding-bottom: 3.3vmax; */
    justify-content: center;
    padding-right: 3vmax;
    padding-left: 3vmax;
    margin: 0 auto;
    display: flex;
    box-sizing: content-box;
    position: relative;
    color: #fff;
}

.privacy-sqs-a {
    color: hsla( 24.97854077253219,92.82868525896416%,49.2156862745098% ,1) !important;
}

.privacy-sqsrte-large {
    color: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.8em;
    margin: 1rem 0;
    font-size: 14px;
    font-weight: 300;
}

.privacy-sqsrte-ol {
    margin-bottom: 0;
    font-size: 13px;
}

.privacy-sqsrte-ol li {
    /* padding-top: 10px !important; */
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8em;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}

.privacy-sqsrte-ol li:first-child {
    padding-top: 10px !important;
}

.privacy-sqsrte-li {
    padding-bottom: 100px !important;
}

.notfound-sqsrte-p {
    padding-bottom: 20px !important;
}

.notfound-layout {
    padding-top: 6vw;
}

@media (min-width: 1024px) {
    .privacy-content-wrapper {
        padding: 3.3vmax 16vmax 0;
    }

    .privacy-html-content-wrapper {
        padding: 0 16vmax 3.3vmax;
    }
}