.art-advisory-root {
    background-color: hsla( 0,0%,6.2745098039215685% ,1);
    margin-top: 100px;
}

.art-advisory-section-border {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla( 0,0%,0.39215686274509803% ,1)
}

.art-advisory-section-background {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    background-color: hsla( 0,0%,6.2745098039215685% ,1);
}

.art-advisory-section-background img {
    object-fit: cover;
    width: 100%;
    height: 550px;
}

.art-advisory-story-content {
    position: absolute;
    top: 45%;
    right: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    margin-left: 22px;
    margin-right: 22px;
    background-color: rgba(8,8,8,.5) !important;
    border-radius: 4px;
}

.art-advisory-story-text {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px 12px 0px;
    padding-top: 0px;
    color: #fff;
    line-height: 2px;
}

.art-advisory-content-wrapper {
    padding-top: 3.3vmax;
    /* padding-bottom: 3.3vmax; */
    justify-content: center;
    padding-right: 3vmax;
    padding-left: 3vmax;
    margin: 0 auto;
    display: flex;
    box-sizing: content-box;
    position: relative;
    color: #fff;
}

.art-advisory-sqs-layout {
    color: #fff;
    font-size: calc((1.1 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
    float: none;
    width: auto;
    word-wrap: break-word;
}

.art-advisory-connect-sqs-layout {
    color: #fff;
    font-size: calc((1.1 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
    float: none;
    width: 100%;
    word-wrap: break-word;
}

.art-advisory-connect-sqs-layout h2 {
    white-space: pre-wrap;
    border-bottom: 3px solid #f26a09;
    padding-bottom: 3px;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    line-height: calc(1.4em * (1 + (1 - 2)/25));
    text-transform: uppercase;
    font-weight: 300;
}

.sqs-layout {
    color: #fff;
    font-size: calc((1.1 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
    float: none;
    width: auto;
    word-wrap: break-word;
    cursor: pointer;
}

.sqs-layout h2 {
    white-space: pre-wrap;
    border-bottom: 3px solid #f26a09!important;
    padding-bottom: 3px !important;
    display: block !important;
    text-align: center !important;
    font-size: 1.6em !important;
    line-height: calc(1.4em * (1 + (1 - 2)/25));
    text-transform: uppercase;
    font-weight: 400;
}

.image-block-outer-wrapper {
    border-radius: 4px;
    background-color: #010101;
}

.sqs-block-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
}

.artist-content-network-wrapper {
    padding-top: 3.3vmax;
    padding-bottom: 5.3vmax;
    justify-content: center;
    padding-right: 3.3vmax;
    padding-left: 3.3vmax;
    margin: 0 auto;
    display: flex;
    box-sizing: content-box;
    position: relative;
    color: #fff;
}

.sqs-block-button-element {
    padding: 0.75em 1.2525em;
    color: hsla( 0,0%,100% ,1) !important;
    background: hsla( 24.97854077253219,92.82868525896416%,49.2156862745098% ,1);
    border-color: hsla( 0,0%,100% ,1);
    border-radius: 0.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: .02em;
    text-transform: none;
    font-size: 1rem;
    border: 1px solid hsla( 24.97854077253219,92.82868525896416%,49.2156862745098% ,1);
    cursor: pointer;
}

.art-advisory-sqsrte-large {
    color: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.8em;
    margin: 1rem 0;
    font-size: 16px;
    font-weight: 300;
}

.art-advisory-sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-left: 17px;
    padding-right: 17px;
    clear: none;
}

.art-advisory-sqs-block-content {
    position: relative;
}

.art-advisory-connect-wrapper {
    padding-top: 17px;
    /* padding-bottom: 3.3vmax; */
    justify-content: center;
    padding-right: 17px;
    padding-left: 17px;
    margin: 0 auto;
    display: flex;
    box-sizing: content-box;
    position: relative;
    color: #fff;
}

.form-item-field {
    margin: 0 0 25px;
    position: relative;
}

.form-item-label {
    padding-bottom: 4px;
    align-items: baseline;
    column-gap: 1ex;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form-item-name {
    -webkit-tap-highlight-color: transparent;
    font-weight: 300;
    font-size: 18px;
}

.form-item-required {
    font-weight: 300;
    font-size: 16px;
}

.form-item-input {
    border-radius: 0;
    box-shadow: 0 0 0 1px transparent;
    transition: .15s background-color cubic-bezier(.33,1,.68,1);
    padding: 0.9375rem;
    background-color: #303030;
    color: #f0f0f0;
    border: 1px solid #f26a09;
    position: relative;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: .129px;
    overflow: hidden;
    width: -webkit-fill-available;
}

.art-advisory-item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-item-textarea {
    border-radius: 0;
    box-shadow: 0 0 0 1px transparent;
    transition: .15s background-color cubic-bezier(.33,1,.68,1);
    padding: 0.9375rem;
    background-color: #303030;
    color: #f0f0f0;
    border: 1px solid #f26a09;
    position: relative;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: .129px;
    overflow: hidden;
    width: -webkit-fill-available;
    min-height: 80px;
}

.art-advisory-desk-root {
    display: none;
}

.art-advisory-text-first {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes slideLeft {
    0% {
        transform: translatex(150%)
    }

    100% {
        transform: translatex(0)
    }
}

.art-advisory-desk-reviews-root {
    padding: 0 0 5rem;
}

@media (min-width: 1024px) {
    .art-advisory-mob-root {
        display: none;
    }

    .art-advisory-sqsrte-large {
        font-size: 18px;
    }

    .art-advisory-desk-root {
        display: block;
    }

    .art-advisory-connect-sqs-layout h2{
        font-size: 2rem;
    }

    .art-advisory-section-background img {
        height: 650px;
        display: block;
        object-position: 13.986013986013987% 34.73684210526316%;
        opacity: 0.8;
    }

    .art-advisory-story-content {
        top: 47%;
        margin-right: 4rem;
    }

    .art-advisory-story-text {
        font-size: 50px;
        padding: 0px 20px 0px;
    }

    .art-advisory-desk-reviews-root {
        display: flex;
        padding: 0 13rem 5rem;
        gap: 20px;
    }

    .art-advisory-desk-html-content-root {
        padding: 3.3vmax 13rem;
    }

    .art-advisory-desk-html-hr-root {
        padding: 2rem 13rem;
    }

    .art-advisory-desk-html-connect-root {
        padding: 0 34rem;
    }

    .art-advisory-desk-html-layout-content-root {
        padding: 0;
    }

    .sqs-block-image:hover {
        background-color: #f26a09 !important;
        transform: translatez(0);
        opacity: .95 !important;
    }

    .artist-content-network-wrapper {
        padding-top: 15px;
        padding-bottom: 3rem;
    }
}