body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: hsla(0, 0%, 0.39215686274509803%, 1);
}

code {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}
